.contact{
    padding: 50px;
}
.page_heading .line1{

    height: 5px;
width: 50px;
background: var(--skin-color);
border-radius: 10px;
margin-top: 5px;
}
.page_heading .line2{
    height: 5px;
width: 25px;
background: var(--skin-color);
border-radius: 10px;
margin-top: 5px;

}
.contact_container1, .contact_container2{
    margin-top: 30px;
}

.contact_container1 h3, .contact_container2 h3{
    text-align: center;
}
.contact_details{
    display: grid;
grid-template-columns: repeat(3,1fr);
margin-top: 20px;
}

.contact_details div{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.contact_container2 div{
    margin-top: 10px;
}
.contact_container2 div:nth-child(1){
    display: grid;
grid-template-columns: repeat(2,1fr);
gap : 5px;
}

.contact_container2 form{
    padding : 30px;
}


@media screen and (max-width:542px) {
    .contact_container2 div:nth-child(1){
    grid-template-columns: 1fr;
    }
    .contact_details{
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    }
}