.detail{
    padding: 50px;
}

.page_heading .line1{

    height: 5px;
width: 50px;
background: var(--skin-color);
border-radius: 10px;
margin-top: 5px;
}
.page_heading .line2{
    height: 5px;
width: 25px;
background: var(--skin-color);
border-radius: 10px;
margin-top: 5px;

}
.detail_container{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 5px */
}

.detail_container .detail_box{
    /* height: 300px; */
    padding : 25px;
    /* overflow: hidden; */
}

@media screen and (max-width : 1200px) {
    .detail_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

.detail_container .detail_box .project_image{
    height: 100%;
    width: 100%;
}

.detail_container .detail_box .project_image img{
    height: 100%;
    width: 100%;
}

.detail_container .detail_box .read_more{
    color: var(--skin-color);

}

.more_container{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 5px;
padding: 20px;
place-items: center;
background: #f2f2fc
}
.more_container .more_box{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.more_container .more_box .icons{
    color: var(--skin-color);
}
@media screen and (max-width : 600px) {
    .detail_container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width : 425px) {
    .more_container{
        grid-template-columns: repeat(1, 1fr);
    }
}