@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
  --bg-black-900: #FFFFFF;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color : #ec1839;
}

body{
  margin : 0;
  padding : 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

}
body.dark{
}
body.dark section{
  background-image: url(./assets/images/dark_background.png);
  /* background: #222831; */
}
body.dark header{
  background: #222831;
  /* background-image: url(`../../assets/images/background.png); */
}
body.dark p{
  color : var(--bg-black-900);
}
body.dark h1, body.dark h3{
  color : var(--bg-black-900);
}
body.dark .link_active{
  background-color: #504e70;
}
body.dark .service_container .service_box{
  background-color: #504e70;

}

*{
  margin : 0;
  padding : 0;
  outline : none;
  text-decoration: none;
  box-sizing: border-box;
}
::before, ::after{
  box-sizing: border-box;
}
section{
  background : var(--bg-black-900);
  min-height: 100vh;
  display: block;
  position: absolute;
  left: 270px;
  top: 0;
  right : 0;
  z-index: 0;
  opacity: 1;
}
.btn_container{
  margin-top:10px;
  display: flex;
  gap: 10px;
}
.btn{
  padding: 10px;
border-radius: 20px;
outline: none;
border: 0;
color: var(--bg-black-100);
background: var(--skin-color);
font-weight: 600;
}

h1, h3{
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px; 
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
  
}

input, textarea{
  padding: 20px;
border: 3px solid var(--skin-color);
border-radius: 25px;
outline: none;
width: 100%;
background : transparent;
color: var(--skin-color);
}


.icon{
  font-size: 50px;
  color : var(--skin-color);
}